.gradle
**/build/
!**/src/**/build/
local.properties
.kotlin

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

### IntelliJ IDEA ###
.idea/*
